<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876997828344-d2a39t0jg3p7igu7t7kpq1vn5td5qifu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876997828344-d2a39t0jg3p7igu7t7kpq1vn5td5qifu</string>
	<key>API_KEY</key>
	<string>AIzaSyA_g6XgPN2koqwf-kf2Jr3TKZ58Tymw1Ec</string>
	<key>GCM_SENDER_ID</key>
	<string>876997828344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.fighttech.flutterfightkit</string>
	<key>PROJECT_ID</key>
	<string>flutter-fightkit</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fightkit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876997828344:ios:4218bbcc8a4597ed1aa50d</string>
</dict>
</plist>